<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
        <link rel="stylesheet" href="/static/css/admin.css" />
        <title>Admin Panel</title>
    </head>
    <body>
        <div class="container">
            <div class="row rowMain">
                <div class="col-3 col-md-3 colNav">
                    <div class="row rowNavHead">
                        <p class="textNavHead">
                            Admin Panel
                        </p>
                    </div>
                </div>
                <div class="col-9 col-md-9 colMain">
                    <ul class="nav navHeadRow">
                        <li class="nav-item">
                            <p class="loginAdmin"></p>
                            <button type="button" class="btn btn-dark">Выйти</button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row rowMain">
                <div class="col-3 col-md-3 colNav">
                    <div class="row rowNav">
                        <ul class="nav flex-column">
                            <li>
                                <p class="textNavHead">Таблицы</p>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link buttonTable buttonTableActive">Фильмы</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link buttonTable">Страны</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link buttonTable">Жанры</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link buttonTable">Страны фильмов</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link buttonTable">Жанры фильмов</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link buttonTable">Рейтинговые сайты</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link buttonTable">Администраторы</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-9 col-md-9 colMain">
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="/static/js/adminPanel.js"></script>
    </body>
</html>
