<!DOCTYPE html>
<html lang="ru">
    <head>
        <!-- Обязательные метатеги -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
        <link rel="stylesheet" href="/static/css/checkAdmin.css" />

        <title>Log-in</title>
    </head>
    <body>
        <div class="container">
            <form id="loginAdmin">
                <div class="rowLogin">
                    <label for="InputLogin" class="form-label">Логин</label>
                    <input type="text" class="form-control" id="InputLogin" />
                </div>
                <div class="rowPassword">
                    <label for="InputPassword" class="form-label">Пароль</label>
                    <input type="text" class="form-control" id="InputLogin" />
                </div>
                <button type="button" id="submit" class="btn btn-primary">Войти</button>
            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="/static/js/adminPanelCheck.js"></script>
    </body>
</html>
