.container {
    margin-top: 2vw !important;
}
p {
    margin: 0;
}

/*Блок навигации*/
.rowMain {
    border-bottom-width: 0.1vw;
    border-bottom-style: solid;
    border-bottom-color: gray;
    padding-bottom: 1vw;
}

.colNav {
    border-left-width: 0.1vw;
    border-left-style: solid;
    border-left-color: gray;
    border-right-width: 0.1vw;
    border-right-style: solid;
    border-right-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navHeadRow {
    align-items: center;
    justify-content: flex-end;
}

.rowNavHead {
}
.textNavHead {
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
    text-align: center;
}

.buttonTable {
    border-width: 0.1vw;
    border-color: grey;
    width: 17vw;
    height: inherit;
    min-height: 4vw;
    text-align: center;
    color: black;
    font-size: 2vw;
    padding: 0;
    margin-bottom: 0.5vw;
    margin-top: 0.5vw;
    background-color: beige;
}
.buttonTableActive {
    background-color: aquamarine;
}

/*Облий блок*/
.colMain {
    display: flex;
    align-items: center;
    justify-content: end;
}
