.container {
    margin-top: 2vw !important;
}

#loginAdmin {
    padding: 1vw;
    border-radius: 0.1vw;
    border-color: gray;
    border-width: 0.1vw;
    border-style: solid;
    box-shadow: 0.1vw 0.1vw 1vw grey;
}

.rowLogin {
    margin-bottom: 2vw;
}
.rowPassword {
    margin-bottom: 2vw;
}

p {
    margin: 0;
}
